<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South Port Sailing School-Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-JS/latest-news-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-JS/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,464;1,6..96,464&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,100;1,6..96,100&family=Montserrat:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="welcome">W E L C O M E &ensp; T O  . . .</h1>
        <h1 class="name">South Port Sailing School</h1>
        <div class="icons">
            <a href="#"><img src="static/social_media/icon/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="static/social_media/icon/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="static/social_media/icon/tiktok.png" alt="TikTok"></a>
        </div>
        <table>
            <tr>
                <td class="edge"><a href="/">Home</a></td>
                <td><a href="/keep-up-to-date" class="current">Latest News</a></td>
                <td><a href="/programs">Programs</a></td>
                <td><a href="/registration">Registration</a></td>
                <td class="edge"><a href="/meet-the-team">Meet The Team</a></td>
            </tr>
        </table>
    </header>
    <main>
        <section class="latest-grid">
            <div class="column1 text-container">
                <h1>Keep up to date!</h1>
                <p>Here you can find our latest posts and keep up to date
                    with upcoming important events you don't want to miss
                    out on! Don't forgot to follow our Instagram and
                    Facebook pages as well for the most content.
                </p>
            </div>
            <div class="column2">
                <div class="news-element">
                    <h1>Registration</h1>
                    <p>Our registration is open!</p>
                    <div class="latest-image image-container"><img src="static/latest/image1.png" alt="Image 1"></div>
                </div>

                <div class="news-element">
                    <h1>Session dates</h1>
                    <p>CANSail 1/2 - Session 4: August 19th - August 30th (Full)
                        <br>CANSail 3/4 - August 12th - August 30th (Full)</p>
                    <div class="latest-image image-container"><img src="static/latest/image1.png" alt="Image 1"></div>
                </div>

                <div class="news-element">
                    <h1>South Port Regatta</h1>
                    <p>This summer, we're having our 9th annual Dinghy Regatta from
                        August 17th to 18th! For more information, please visit
                        <a href="#">this link</a>. To register, click on the "Fill in Intent to Race Form"
                        on the aforementioned link.</p>
                    <div class="latest-image image-container"><img src="static/latest/image1.png" alt="Image 1"></div>
                </div>
            </div>
        </section>
    </main>
    <hr>
    <footer>
        <div class="image-quote">
            <div class="quote-container">
                <div class="quote-text">
                    "You can't control the <br>
                    wind, but you can <br>
                    adjust your sails"
                </div>
            </div>
            <div class="image-gallery">
                <span class="arrow prev" onclick="changeCard('footer', 'prev')"> < </span>
                <span class="arrow next" onclick="changeCard('footer', 'next')"> > </span>
                <div class="footer-image image-container"><img src="static/footer/placeholder.png" alt="Image 1"></div>
                <div class="footer-image image-container"><img src="static/footer/placeholder2.png" alt="Image 2"></div>
                <div class="footer-image image-container"><img src="static/footer/placeholder3.png" alt="Image 3"></div>
                <div class="image-caption"></div>
            </div>
        </div>
        <div class="footer-acknowledge">
            We wholly acknowledge that the South Port Sailing School is situated on the traditional territory of the<br>
            Attiwonderonk, Myaamia, Wyandot, Anishinabewaki, and Mississauga peoples. Our active work towards<br>
            reconciliation involves our various inclusivity goals in the attendance of our sailing lessons; anyone can<br>
            join and explore the beautiful world of sailing.
        </div>
        <div class="footer-location">
            We are located at 210 Brighton Road,<br>
            Tecumseh, ON, N8N 2L3. Come visit us!
        </div>
    </footer>
    <script src="{{ url_for('static', filename='CSS-JS/base.js') }}" onload="displayCard('footer', 0)"></script>
</body>
</html>