<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1 class>Welcome to ...</h1>
        <h1 class="header name">South Port Sailing School</h1>
        <div class = "grid">
            <a><img src="static/social_media/icon/instagram.png" alt="Instagram"></a>
            <a><img src="static/social_media/icon/facebook.png" alt="Facebook"></a>
            <a><img src="static/social_media/icon/tiktok.png" alt="TikTok"></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/keep-up-to-date">Latest News</a>
            <a href="/programs">Programs</a>
            <a href="/registration">Registration</a>
            <a href="/meet-the-team">Meet The Team</a>
        </nav>
    </header>
    <main>
        <p>This is the Registration page.</p>
    </main>
</body>
</html>
